<h2>Create a new drone</h2>
<form method="post" action="/drones/create">
    <label for='name'>Name</label>
    <input type='text' placeholder="drone name here..." name='name' />

    <label for='propellers'>No of propellers</label>
    <input type='text' placeholder='No of propellers here' name='propellers' />

    <label for='maxSpeed'>Max speed</label>
    <input type='text' placeholder='Max speed here' name='maxSpeed' />

</form>